<div ng-controller="BioskopController">
		
	<div align="right" ng-if="isAdmin">
      <md-button class="md-raised md-primary" ng-click="dodajBioskop($event)">Dodaj bioskop</md-button>
    </div>
    		
	<md-list style="border: 1px solid black !important;" class="md-block" flex-gt-sm> 
		<md-divider style="border-top: 1px solid black !important;"></md-divider>
		<md-list-item class="md-3-line" ng-repeat="b in listaBioskopa | orderBy: ['naziv']"> 
			<div layout="row" layout-align="start center" flex>
				<div class="md-list-item-text" layout="column">
					<h3><b>Bioskop {{b.id}} </b></h3>
					<h4><b>Naziv:</b> {{b.naziv}} </h4>
					<h4><b>Adresa:</b> {{b.adresaBioskopa.nazivUlice}} {{b.adresaBioskopa.broj}} {{b.adresaBioskopa.nazivNaseljenogMesta}} </h4>				
					<h4><b>Prosečna ocena:</b> {{b.prosecnaOcena | number: 2}} </h4>	
				 	<br />
				 	
				 	<div ng-if="b.sale.length>0">
						<h3><b>Sale koje poseduje bioskop {{b.naziv}}:</b></h3>
					</div>
					
					
					<md-list class="md-block" flex-gt-sm class="md-block"> 
						<md-list-item class="md-3-line" ng-repeat="s in b.sale"  style="border-top: 1px solid black !important;">
							<div class="md-list-item-text" layout="column">
							<h4><b>{{s.oznakaSale}}</b></h4>
							<p><b>Tip: </b>{{s.tip}}</p>
							<p><b>Kapacitet: </b>{{s.kapacitet}}</p>
							<p><b>Broj redova: </b>{{s.brojSedistaRedovi}} 
							   <b>Broj sedišta u redu: </b>{{s.brojSedistaKolone}}</p>
							</div>
						
							<div>
								<md-button ng-if="isAdmin" class="md-fab md-mini md-primary md-raised md-hue-2" 
									ng-click="izmeniSalu(b.id, s, $event)">
			                 			<md-icon md-svg-icon="icons/ic_update_white_36px.svg"></md-icon>
			            		</md-button> 
								<md-button ng-if="isAdmin" class="md-fab md-mini md-warn md-raised md-hue-2" 
								   ng-click="obrisiSalu(b.id, s.id)">
									<md-icon md-svg-icon="icons/ic_delete_forever_white_36px.svg"></md-icon>
			            		</md-button>
			            	</div>	
		            	
						</md-list-item> 
						
					</md-list>
				</div>
				
				<div style="position:absolute; top:0; right:0;">
					<div ng-include="'html/panelZaOcjenjivanje.html'"></div>
					
					<md-button ng-if="isAdmin" class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="dodajSalu(b)" 
						aria-label="Dod." style="background-color:green; !important;">
						<md-icon md-svg-icon="icons/ic_add_white_36px.svg"></md-icon>
		            </md-button>
	 				<md-button ng-if="isAdmin" class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="izmeniBioskop(b, $event)">
		                 <md-icon md-svg-icon="icons/ic_update_white_36px.svg"></md-icon>
		            </md-button> 
					<md-button ng-if="isAdmin" class="md-fab md-mini md-warn md-raised md-hue-2" ng-click="obrisiBioskop(b)">
					
		                 <md-icon md-svg-icon="icons/ic_delete_forever_white_36px.svg"></md-icon>
		            </md-button>
		        </div>
			</div>
			
		<md-divider style="border-top: 1px solid black !important;"></md-divider>
		</md-list-item> 
	</md-list>
</div>