<md-dialog >
    <md-dialog-content layout-padding >
        <div ng-controller="RezervacijaController">
            <form name="IzmenaRezervacijeForm">
                <h3 layout-gt-md="" layout-align="center center" style="color: blue">
                Izmena rezervacije {{menjanaRezervacija.id}}</h3>
					
                <div>
                
                <div ng-show="iniciraoIzmenuProjekcije">
	                
	                <div class='md-inline-form'>
	 					<md-content layout-padding>
	 						<md-input-container class="md-block" flex-gt-sm>
	            				<label>Bioskop</label>
	            					<md-select ng-model="menjanaRezervacija.projekcija.idBioskopa"
	            						ng-change="odaberiBioskopIzmena()">
	              						<md-option ng-repeat="b in bioskopiIzmena" value="{{b.id}}">
	                						{{b.naziv}}
	              						</md-option>
	            					</md-select>
	          				</md-input-container>
	 					</md-content>
		 			</div>
	
					<div class='md-inline-form'>
	 					<md-content layout-padding>
	 						<md-input-container class="md-block" flex-gt-sm>
	            				<label>Sala</label>
	            					<md-select ng-model="menjanaRezervacija.projekcija.idSale"
	            						ng-change="odaberiSaluIzmena()">
	              						<md-option ng-repeat="s in saleIzmena" value="{{s.id}}">
	                						{{s.oznakaSale}}
	              						</md-option>
	            					</md-select>
	          				</md-input-container>
	 					</md-content>
					</div>
		 
					 <div class='md-inline-form'>
				 		<md-content layout-padding>
				 			<md-input-container class="md-block" flex-gt-sm>
				 				<md-datepicker ng-model="menjanaRezervacija.projekcija.datumProjekcije" 
				 				md-placeholder="Datum" ng-change="odaberiSaluIzmena()">
				 				</md-datepicker>
				 			</md-input-container>
				 		</md-content>
					 </div>
				 
					 <div class='md-inline-form'>
				 		<md-content layout-padding>
				 			<md-input-container class="md-block" flex-gt-sm>
				            	<label>Projekcija</label>
				            	<md-select ng-model="menjanaRezervacija.projekcija.id">
				              		<md-option ng-repeat="p in projekcijeIzmena" value="{{p.id}}">
				                		{{p.nazivFilma}} {{p.datumProjekcije}} 
				              		</md-option>
				            	</md-select>
				          	</md-input-container>
				          	
				          	
				          	 <div layout="row">
			 					<md-input-container class="md-block" flex-gt-sm>
			            			<label>Broj sedišta: </label>
			            			<input ng-model="menjanaRezervacija.brojSedista" type="number" step="1">
			          			</md-input-container>
	          					
			          			<md-input-container class="md-block" flex-gt-sm>
			            			<label>Broj reda sedišta: </label>
			            			<input ng-model="menjanaRezervacija.brojRedaSedista" type="number" step="1">
			          			</md-input-container>
	                		</div>
	                						          	
				          	<md-input-container class="md-block" flex-gt-sm>
	            				<label>Status: </label>
	            				<md-select ng-model="menjanaRezervacija.tip">
	              					<md-option value="AKTIVNA">Aktivna</md-option>
	              					<md-option value="OTKAZANA">Otkazana</md-option>
	            				</md-select>
	          				</md-input-container>
	          			
	          				<md-input-container class="md-block" flex-gt-sm>
	          					<label>Datum isteka: </label>
	 							<md-datepicker ng-model="menjanaRezervacija.datumIstekaRezervacije">
	 							</md-datepicker>
	 						</md-input-container>
				 		</md-content>
					 </div>
	                
	                
	               
                
                
                

                <div ng-show="!iniciraoIzmenuProjekcije">
	                	<div layout="row">
	                	<md-input-container class="md-block" flex-gt-sm>
	            			<label>Bioskop: </label>
	            			<input ng-model="menjanaRezervacija.projekcija.nazivBioskopa" type="text" ng-readonly=true>
	          			</md-input-container>
	                	<br>
	                	<md-input-container class="md-block" flex-gt-sm>
	            			<label>Sala: </label>
	            			<input ng-model="menjanaRezervacija.projekcija.oznakaSale" type="text" ng-readonly=true>
	          			</md-input-container>
	          			<br>
	          			</div>
	          			
	          			
	          			<md-input-container class="md-block" flex-gt-sm>
	            			<label>Film: </label>
	            			<input ng-model="menjanaRezervacija.projekcija.nazivFilma" type="text" ng-readonly=true>
	          			</md-input-container>
						<br>
					

					 	<md-button class="md-raised md-primary" ng-click="izmeniProjekciju()">
		                	 Izmeni projekciju
		            	</md-button>
						
					
						<div layout="row">
	 					<md-input-container class="md-block" flex-gt-sm>
	            			<label>Broj sedišta: </label>
	            			<input ng-model="menjanaRezervacija.brojSedista" type="number" step="1">
	          			</md-input-container>
	          					
	          			<md-input-container class="md-block" flex-gt-sm>
	            			<label>Broj reda sedišta: </label>
	            			<input ng-model="menjanaRezervacija.brojRedaSedista" type="number" step="1">
	          			</md-input-container>
	          			</div>
	          			<md-input-container class="md-block" flex-gt-sm>
	            			<label>Status: </label>
	            			<md-select ng-model="menjanaRezervacija.tip">
	              				<md-option value="AKTIVNA">Aktivna</md-option>
	              				<md-option value="OTKAZANA">Otkazana</md-option>
	            			</md-select>
	          			</md-input-container>
	          			
	          			<md-input-container class="md-block" flex-gt-sm>
	          				<label>Datum isteka: </label>
	 						<md-datepicker ng-model="menjanaRezervacija.datumIstekaRezervacije">
	 						</md-datepicker>
	 					</md-input-container>
					
					</div>
					
                </div>
            </form>
        </div>
    </md-dialog-content>


    <md-dialog-actions>
        <md-button ng-click="prihvatiIzmenu()" class="md-primary">U redu</md-button>
        <md-button ng-click="cancel()" class="md-primary">Otkaži</md-button>
    </md-dialog-actions>
</md-dialog>