<div>
<!--  <div class='md-inline-form'>
 	<md-content layout-padding>
 		<md-input-container class="md-block" flex-gt-sm>
            <label>Bioskop</label>
            <md-select ng-model="filter.bioskop">
              <md-option ng-repeat="b in bioskopi" value="{{b.id}}">
                {{b.naziv}}
              </md-option>
            </md-select>
          </md-input-container>
 	
 	</md-content>
 </div> -->
 
 
 <md-list> 
	<md-list-item class="md-3-line" ng-repeat="rez in listaAktivnihRezervacija"> 
	<div class="md-list-item-text" layout="column">
		<h3><b>Rezervacija {{rez.id}}</b></h3>
		<h4>Bioskop: {{rez.projekcija.nazivBioskopa}}, Sala: {{rez.projekcija.oznakaSale}}</h4>
		<h4>Film: {{rez.projekcija.nazivFilma}}</h4>
		<h4>Datum projekcije: {{rez.projekcija.datumProjekcije}}</h4>
		<h4>Broj aktivnih rezervacija: {{rez.projekcija.brojAktivnihRezervacija}}</h4>

	</div>
	</md-list-item> </md-list>
</div>