<div ng-controller="RezervacijaController">
	
		 <div>
     	<md-radio-group ng-model="statusRezervacijaKorisnika" layout="row" style="padding: 1%" layout-align="center center" ng-change="promenaStatusaZaKorisnika()">
        	<md-radio-button value="Aktivne" class="md-primary" >Aktivne</md-radio-button>
        	<md-radio-button value="Sve" class="md-primary" >Sve</md-radio-button>
    	</md-radio-group>
 	</div>
	
	<md-list style="border: 1px solid black !important;" class="md-block" flex-gt-sm> 
		<md-divider style="border-top: 1px solid black !important;"></md-divider>
		<md-list-item class="md-3-line" ng-repeat="rez in listaRezervacijaKorisnika"> 
			<div class="md-list-item-text" layout="column">
				<h3><b>Rezervacija {{rez.id}}</b></h3>
				<h4><b>Bioskop:</b> {{rez.projekcija.nazivBioskopa}},
					 <b>Sala: </b>{{rez.projekcija.oznakaSale}}</h4>
				<h4><b>Film:</b> {{rez.projekcija.nazivFilma}}</h4>
				<h4><b>Datum projekcije:</b> {{rez.projekcija.datumProjekcije}}</h4>
				<p><b>Status:</b> {{rez.tip}}</p>
				<p><b>Broj reda sedišta:</b> {{rez.brojRedaSedista}}, 
					<b>Broj sedišta: </b>{{rez.brojSedista}}</p>
				<p><b>Datum rezervacije:</b> {{rez.datumRezervacije}}, 
				<b>Datum isteka rezervacije:</b> {{rez.datumIstekaRezervacije}}</p>
			</div>
			<div>
 				 <md-button class="md-fab md-mini md-warn md-raised md-hue-2" 
 				 ng-if="rez.tip=='AKTIVNA'" ng-click="deaktivirajRezervaciju(rez.id)">
	                 <md-icon md-svg-icon="icons/ic_power_settings_new_white_36px.svg"></md-icon>
	            </md-button> 
			</div>
			
		<md-divider style="border-top: 1px solid black !important;"></md-divider>
		</md-list-item> 
	</md-list>

</div>