<div>
<div  ng-controller="FilmController" >
	 <div class='md-inline-form' style="text-align: center">
 		<md-content layout-padding>
 			<md-input-container  flex-gt-md style="width: 30%">
            	<label>Naziv</label>
            	<input ng-model="izmjenaFilm.naziv" type="text" required md-maxlength="100"></input>
          	</md-input-container>
          	<md-input-container  flex-gt-md style="width: 30%">
            	<label>Trajanje(min)</label>
            	<input ng-model="izmjenaFilm.trajanje" type="number" required ></input>
          	</md-input-container>
          	<md-input-container flex-gt-md style="width: 30%">
            	<label>Datum premijere)</label>
            	<md-datepicker ng-model="izmjenaFilm.datumPremijere" ></md-datepicker>
          	</md-input-container>
 		</md-content>
	 </div>
	 
	 
	  <div class='md-inline-form' style="text-align: center">
 		<md-content layout-padding>
 			<md-input-container  flex-gt-sm style="width: 30%">
            	<label>Jezik</label>
            	<md-select ng-model="izmjenaFilm.jezik" >
              		<md-option ng-repeat="jezik in listaJezika" ng-value="jezik" ng-selected="izmjenaFilm.jezik.id == jezik.id">
                		{{jezik.naziv}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
          	
          	<md-input-container  flex-gt-sm style="width: 30%">
            	<label>Kategorija</label>
            	<md-select ng-model="izmjenaFilm.kategorija"  >
              		 <md-option ng-repeat="kategorija in listaKategorija" ng-value="kategorija" ng-selected="izmjenaFilm.kategorija.id == kategorija.id">
                		{{kategorija.naziv}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
          	
          	<md-input-container  flex-gt-sm style="width: 30%">
            	<label>Reditelj</label>
            	<md-select ng-model="izmjenaFilm.reditelj" >
              		<md-option ng-repeat="reditelj in listaReditelja" ng-value="reditelj" ng-selected=" izmjenaFilm.reditelj.id == reditelj.id">
                		{{reditelj.ime}} {{reditelj.prezime}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
 		</md-content>
	 </div>
	 
	 <div class='md-inline-form' style="text-align: center">
 		<md-content layout-padding >
 			<md-input-container  flex-gt-sm style="width: 1000">
            	<label>Opis</label>
            	<input ng-model="izmjenaFilm.opis" type="text"></input>
          	</md-input-container>
 		</md-content>
	 </div>
	 
	  <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-md>
            	<label>Glumci</label>
            		<md-select ng-model="selectedGlumac" ng-change="dodajGlumca(selectedGlumac)">
              		<md-option ng-repeat="glumac in listaGlumaca" ng-value="glumac"  >
                		{{glumac.ime}} {{glumac.prezime}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
      </div>  

    <div class='md-inline-form'>
    <md-content layout-padding>
    	<div ng-repeat="gl in izabraniGlumci">
    	<div style="display: inline-block; width: 200px;" >{{gl.ime}} {{gl.prezime}} </div>
    	<div style="display: inline-block; width: 70px;" >
    		<md-button ng-click="ukloniGlumca(gl)"><md-icon md-svg-icon="icons/ic_delete_black_24px.svg"></md-icon></md-button> 
    	</div>
    	</div>
    <md-content layout-padding>
    </div>   
    
	  <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-md>
            	<md-button class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="potvrdaIzmjene(izmjenaFilm)"  ng-disabled="izmjenaFilm.naziv==null || izmjenaFilm.trajanje==null || izmjenaFilm.trajanje<=0  || izmjenaFilm.datumPremijere==null" required clas="md-primary"> 
            		<md-icon md-svg-icon="icons/ic_done_white_24px.svg"></md-icon>
				</md-button>
            	<md-button class="md-fab md-mini md-warn md-raised md-hue-2" ng-click="izmjeniDialog.close()"  ng-disabled="izmjenaFilm.naziv==null || izmjenaFilm.trajanje==null || izmjenaFilm.trajanje<=0  || izmjenaFilm.datumPremijere==null" required clas="md-primary">
            		<md-icon md-svg-icon="icons/ic_clear_white_24px.svg"></md-icon>
				</md-button>
          	</md-input-container>
         </md-content>
	 </div>
	 
</div>
</div>