<div>
<div  ng-controller="FilmController" data-ng-init="initIzmjena()">
	 <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-md>
            	<label>Naziv</label>
            	<input ng-model="noviFilm.naziv" type="text" required md-maxlength="100"></input>
          	</md-input-container>
          	<md-input-container  flex-gt-md>
            	<label>Trajanje(min)</label>
            	<input ng-model="noviFilm.trajanje" type="number" required ></input>
          	</md-input-container>
          	<md-input-container flex-gt-md>
            	<label>Datum premijere)</label>
            	<md-datepicker ng-model="noviFilm.datumPremijere" ></md-datepicker>
          	</md-input-container>
 		</md-content>
	 </div>
	 
	 <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-sm>
            	<label>Opis</label>
            	<input ng-model="noviFilm.opis" type="text"></input>
          	</md-input-container>
 		</md-content>
	 </div>
	  <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-sm>
            	<label>Jezik</label>
            	<md-select ng-model="noviFilm.jezik" >
              		<md-option ng-repeat="jezik in listaJezika" ng-value="jezik"  ng-selected="noviFilm.jezik">
                		{{jezik.naziv}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
          	
          	<md-input-container  flex-gt-sm>
            	<label>Kategorija</label>
            	<md-select ng-model="noviFilm.kategorija"  >
              		 <md-option ng-repeat="kategorija in listaKategorija" ng-value="kategorija" ng-selected="noviFilm.kategorija">
                		{{kategorija.naziv}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
          	
          	<md-input-container  flex-gt-sm>
            	<label>Reditelj</label>
            	<md-select ng-model="noviFilm.reditelj" >
              		<md-option ng-repeat="reditelj in listaReditelja" ng-value="reditelj" ng-selected="noviFilm.jezik">
                		{{reditelj.ime}} {{reditelj.prezime}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
 		</md-content>
	 </div>
	 
	  <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-md>
            	<label>Glumci</label>
            		<md-select ng-model="selectedGlumac" ng-change="dodajGlumca(selectedGlumac)">
              		<md-option ng-repeat="glumac in listaGlumaca" ng-value="glumac"  >
                		{{glumac.ime}} {{glumac.prezime}}
              		</md-option>  
            	</md-select>
          	</md-input-container>
      </div>  

    <div class='md-inline-form'>
    	<div ng-repeat="gl in izabraniGlumciIzmjena">
    	<div style="display: inline-block">{{gl.ime}} {{gl.prezime}} </div>
    	<div style="display: inline-block">
    		<md-button ng-click="ukloniGlumca(gl)"><md-icon md-svg-icon="icons/ic_delete_black_24px.svg"></md-icon></md-button> 
    	</div>
    	</div>
    	
    </div>   
    
	  <div class='md-inline-form'>
 		<md-content layout-padding>
 			<md-input-container  flex-gt-md>
            	<md-button ng-click="potvrdaIzmjene(noviFilm)"  ng-disabled="noviFilm.naziv==null || noviFilm.trajanje==null || noviFilm.trajanje<=0  || noviFilm.datumPremijere==null" required clas="md-primary"> Potvrdi izmjenu</md-button>
          	</md-input-container>
         </md-content>
	 </div>
</div>
</div>