 <div style="text-align: center">
 	<md-radio-group ng-model="kriterijum" ng-change="izaberiKriterijum(kriterijum)" layout="row" style="text-align: center;" ng-value="svi">

      <md-radio-button value="svi" class="md-primary" ng-checked="true" ng-value="svi">Svi</md-radio-button>
      <md-radio-button value="aktuelni"> Aktuelni </md-radio-button>
      <md-radio-button value="kategorija">Kategorija</md-radio-button>
	 <md-radio-button value="godinaPremijere">Godina premijere</md-radio-button>
	 <md-radio-button value="reditelj">Reditelj</md-radio-button>
	 <md-radio-button value="glumac">Glumac</md-radio-button>
	 <md-radio-button value="ocjena">Ocjena</md-radio-button>
    </md-radio-group>
  </div>  
    
    <div class="selekcijaVrijednostiZaPregled">	
          <div style="text-align: center;" class='md-inline-form'>	
          	<md-input-container  flex-gt-sm ng-if="izabraniKriterijum =='kategorija'" >
            	<div style="display: inline-block">
            	<label>Kategorija</label>
            	<md-select ng-model="kategorijaSearch" >
              		 <md-option ng-repeat="kategorija in listaKategorija" ng-value="kategorija">
                		{{kategorija.naziv}}
              		</md-option>  
            	</md-select>
            	</div>
            	<div style="display: inline-block">
            	<md-button class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="pregledPoKategoriji(kategorijaSearch)"><md-icon md-svg-icon="icons/ic_search_black_24px.svg"></md-icon></button>
            	</div>
          	</md-input-container>
          	
          	<md-input-container  flex-gt-sm ng-if="izabraniKriterijum == 'reditelj'">
            	<label>Reditelj</label>
            	<div style="display: inline-block">
            	<md-select ng-model="rediteljSearch" >
              		<md-option ng-repeat="reditelj in listaReditelja" ng-value="reditelj" >
                		{{reditelj.ime}} {{reditelj.prezime}}
              		</md-option>  
            	</md-select>
            	</div>
            	<div style="display: inline-block">
            	<md-button class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="pregledPoReditelju(rediteljSearch)"><md-icon md-svg-icon="icons/ic_search_black_24px.svg"></md-icon></button>
            	</div>
          	</md-input-container>
 		
 			<md-input-container  flex-gt-md ng-if="izabraniKriterijum == 'glumac'">
            	<label>Glumci</label>
            	<div style="display: inline-block">
            		<md-select ng-model="selectedGlumac" ng-change="dodajGlumca(selectedGlumac)">
              		<md-option ng-repeat="glumac in listaGlumaca" ng-value="glumac"  >
                		{{glumac.ime}} {{glumac.prezime}}
              		</md-option>  
              	
            	</md-select>
            	</div>
            	<div style="display: inline-block">
            	<md-button class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="pregledPoGlumcu(selectedGlumac)"><md-icon md-svg-icon="icons/ic_search_black_24px.svg"></md-icon></button>
            	</div>
          	</md-input-container>
          	
          	<md-input-container flex-gt-md ng-if="izabraniKriterijum == 'godinaPremijere'">
            	
            	<label>Datum premijere</label>
            	<div style="text-align: center">
	            	<div style="display: inline-block; float: left">
	            	<input ng-model="godinaSearch" type="number" max="2025" min="1920"></input>
	            	</div>
	            	<div style="display: inline-block; float: right" ng-if="godinaSearch>1920 && godinaSearch<2025">
	            	<md-button class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="pregledPoGodiniPremijere(godinaSearch)"><md-icon md-svg-icon="icons/ic_search_black_24px.svg"></md-icon></button>
	            	</div>
            	</div>
          	</md-input-container>
          	
          	
          	<md-input-container  flex-gt-md ng-if="izabraniKriterijum == 'ocjena'">
            	
            	<div style="text-align: center">
	            	<div style="display: inline-block; float: left">
	            	<div style="text-align: center;">
	            		<div style="float: left;">
	            		<md-input-container class="md-input-has-value">
	            			<label>Ocjena(min)</label>
	            			<input ng-model="ocjenaMin" type="number" placeholder="0" ng-value="ocjenaMin" min="0" max="10"></input>
	            		</md-input-container>
	            		</div>
	            		<div style="float: right;">
	            		<md-input-container class="md-input-has-value"> 
	            			<label>Ocjena(max)</label>
	            			<input ng-model="ocjenaMax" type="number" placeholder="10" ng-value="ocjenaMax" min="0" max="10"></input>
	            		</md-input-container>
	            		</div>
	            	</div>
	            	</div>
	            	<div style="display: inline-block; float: right">
	            	<md-button  class="md-fab md-mini md-primary md-raised md-hue-2" ng-click="pregledPoOcjeni(ocjenaMin, ocjenaMax)"><md-icon md-svg-icon="icons/ic_search_black_24px.svg"></md-icon></button>
	            	</div>
            	</div>
          	</md-input-container>
          </div>
 </div>