<div>
 
 
 <div ng-controller="FilmController">
 	<span>{{title}}</span>
 	<md-list style="border: 1px solid black !important;" class="md-block" flex-gt-sm> 
 <!-- 		<md-subheader class="md-no-sticky" ng-if="!showOtkazane">Aktivne rezervacije:</md-subheader>
    	<md-subheader class="md-no-sticky" ng-if="showOtkazane">Otkazane rezervacije:</md-subheader> -->
 		
 		<md-divider style="border-top: 1px solid black !important;"></md-divider>
 		
		<md-list-item class="md-3-line" ng-repeat="film in listaFilmova"> 
			<div layout="row" layout-align="start center" flex>
				    <div class="md-list-item-text" layout="column"  flex>
				    <div style="text-align: center;">
						<div  style="float: left; width: 70%; text-align: left">
							<h3><b>{{film.naziv}}</b></h3>	
							<h4>Kategorija: {{film.kategorija.naziv}} </h4>
							<h4>Opis: {{film.opis}}</h4>
							<h4>Datum premijere: {{film.datumPremijere | date:'dd.MM.yyyy.'}}</h4>
							<h4>Trajanje: {{film.trajanje}}</h4>
							<h4>Jezik: {{film.jezik.naziv}}</h4>
							<h4>Reditelj: {{film.reditelj.ime}} {{film.reditelj.prezime}}</h4>
							<h4>Glumci: <span ng-repeat="glumac in film.glumci" >
								{{glumac.ime}} {{glumac.prezime}} ,
							</span> ... </h4>
						</div>
						<div style="float: right; width: 30%; text-align: center; vertical-align: middle" >
							<md-button style="margin: 55px;" ng-if="isAdmin" ng-click="obrisiFilm(film.id)"><md-icon md-svg-icon="icons/ic_delete_black_24px.svg"></md-icon></md-button>
						</div>
					</div>
				</div>
			</div>
			<md-divider style="border-top: 1px solid black !important;"></md-divider>
		</md-list-item> 
	</md-list>	
</div>
</div>